<div id="<%= dom_id pi_datum %>">
  <p>
    <strong>Color:</strong>
    <%= pi_datum.color %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= pi_datum.temperature %>
  </p>

  <p>
    <strong>Pressure:</strong>
    <%= pi_datum.pressure %>
  </p>

</div>
