<% content_for :title, "Editing pi datum" %>

<h1>Editing pi datum</h1>

<%= render "form", pi_datum: @pi_datum %>

<br>

<div>
  <%= link_to "Show this pi datum", @pi_datum %> |
  <%= link_to "Back to pi data", pi_data_path %>
</div>
