<p style="color: green"><%= notice %></p>

<% content_for :title, "Pi data" %>

<h1>Pi data</h1>

<div id="pi_data">
  <% @pi_data.each do |pi_datum| %>
    <%= render pi_datum %>
    <p>
      <%= link_to "Show this pi datum", pi_datum %>
    </p>
  <% end %>
</div>

<%= link_to "New pi datum", new_pi_datum_path %>
